{% extends "layout.html" %}

{% block main %}

<div class="col-lg-4" style="margin: auto; margin-top: 153px;">
    
    <form class="border rounded border-secondary shadow-lg" style="margin-bottom: 0px;padding: 10%;" action="/delete_contact"
        method="post" enctype="multipart/form-data">

        <h3 class="text-danger">Delete Contact</h3>

        <small class="form-text text-muted">Select Contact:</small>
        <select class="border rounded shadow-sm form-control custom-select" name="contact_id" required>
            <optgroup>
                {% for row in contacts %}
                <option value="{{row['id']}}">{{row['name']}}</option>
                {% endfor %}
            </optgroup>
        </select>
        
        <small class="form-text text-danger">Be careful, All data related to this contact will be DELETED PERMANENTLY:</small>
        <button class="btn btn-danger form-control" style="margin-top: 20px;" type="submit">DELETE!</button>
    </form>
</div>

{% endblock %}